
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-up-open-big:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
